<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Register . IDg System</title>
    <link rel = "icon" href="{% static 'logaa.png' %}"  type = "image/x-icon">

  <style>

    .about{
      padding: 0px 100px 55px 100px;
      width:100%;
      text-align: left;
      font-family: Bell MT, Courier, monospace;
      font-size: 18px;
      
    }
    .about_content{
      padding: 0px 0px 0px 0px;
      width:50%;
      text-align: left;
      
    }

    .about_content_left{
      position: absolute;
      padding-bottom: 20px;
      width:42%;
      text-align: left;
      margin-left: 600px;
      margin-top: -380px;
      
    }
  </style>

    
        

    <link rel="stylesheet" type="text/css" href=" {% static 'css/styles.css' %}">
    <script src="https://kit.fontawesome.com/8a897e3da4.js" crossorigin="anonymous"></script>
    
  </head>
  <body>
    
  <!-- links -->
  <div class="container" style="border:; width:100%; height:90px; background-color: white; padding:7px; ">
    <div>
    <a class="navbar-brand" href="/index" style="font-size:35px; ">
      <img src="{% static 'logaa.png' %}" width="150px" height="80px">
    </a>
  </div>
<h3 style="color:#000; font-size:25px;text-align:center; margin-top:-50px; font-weight: bold;"> DAILY LABORERS SYSTEM</h3>
  </div>

  <!-- Nav links-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary"  >
  <div class="container-fluid" style="height:80px;">

    
    <div style="margin-left:80px;" >
      <p style="color: white; font-weight:; font-family: Comic Sans MS;">
        A Web Platform<br> for casual workers.<br> We link you with a dedicated employer.
      </p>
    </div>

    <div class=" nav-container collapse navbar-collapse" style="margin-left:300px;">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/index">Home</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle " href="/registeras" role="button" aria-haspopup="true" aria-expanded="false">Register</a>
            </li>

        <li class="nav-item">
          <a class="nav-link" href="/Availableworkers">Available Workers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/About"> About Us </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact-us">Help! </a>
        </li>
      </ul>



        <a class="nav-link" href="#" style="display:flex;  margin-top: -20px;  margin-left: -20px;>
          <div class="user" style=" ">
            <i class="fas fa-thin fa-user" style="font-size: 30px; color:lightyellow; margin-top:20px;"></i>

          <ul class="navbar-nav me-auto">  <li class="nav-item dropdown">
          <a href="/signinas" class="nav-link dropdown-toggle"   role="button" aria-haspopup="true" aria-expanded="false">Sign in</a>
         
        </li> </ul>

          </div>
        </a>

    </div>
  </div>
</nav>


    <div style="padding: 10px 100px 0px 100px; border:; ">
      <h3 class="" style="font-family: Bell MT, Courier, monospace; font-weight: bold; font-size: 30px;">About Idg.</h3>
      <hr>
    </div>

    <div class="about" style="border:20px #000000 ; margin-top:20px; border-radius:; background-color: ghostwhite; ">
       
      <div class="about_content" style="border:2px #000000 ;">
        <p>
          Indege Daily Laborers System "IDG" is a web infrastucture developed to facilitate daily workers (casual workers) available in Kigali city
          especially those spend much time standing on roads waiting for employers to come and pick them for a work.<br><br>
          
          Idg system is headed by the cell administrations then 
          Idg system is under the control and management of cell in which indege point is located.<br>

          We advice any user of this system to contact his nearest cell location in the case that an issue related
          with interacting with system is met.

        </p>

      </div>

      <div class="about_content" style="border:2px #000000 ;">
      <h3 style="font-size: ; color: #000000;">Our Missions</h3>
      <hr> 
      Idg has the mandate of planning and implementing the linkage of workers with the employers through 
      a digitalized manner.
      
        
    </div>

    <div class="about_content_left" style="border:2px #000000 ;">
      <h3 style="font-size: ; color: #000000;">Responsibilities</h3>
      <hr>
      Idg has the following responsibilities: <br><br>
      (a) To implement strategies which expand the access and affordability of of work for daily labors 
      by the means of using Information and Communication Technologies infrastructures and services; <br><br>

      b) To accelerate community development through mainstreaming Information and Communication Technologies in national
       socio-economic sectors; <br><br>

      c) To coordinate national Information and Communication Technology procurement for commonly procured Information 
      and Communication Technology goods and services; 
      
        
    </div>


    </div>

<br> <br>
 
<section id="contact-us">
  <div class="footer" style="margin-top: 0px; height: 600px; ">
     <div id="for-logo" style="border:2px red; width:150px; height:90px; margin-top:100px; margin-left:0px;">
         <img src="{% static 'logaa.png' %}" width="150px" height="90px">
  
     </div>
  
  <div id="div-inside">
      <h5>Quick links</h5> <br>
      <a href="#">Sign in</a> <br>
      <a href="#">Register</a> <br>
      <a href="#">Available workers</a> <br>
      <a href="#">About us</a> <br>
      <a href="#">Register</a> <br>
  </div>
  
 
  <div id="div-inside">
      <h5>Social Media</h5> <br>
      <a href="https://www.twitter.com/Idg-Rwanda" target="_blank">Twitter</a> <br>
      <a href="https://www.facebook.com/IdgRwanda" target="_blank">Facebook</a> <br>
      <a href="https://www.instagram.com/Idg-Rwanda" target="_blank">Instagram</a> <br>
      <a href="#"></a> <br>
  </div>
  
  <div id="div-inside" style=" border: 1px red; margin-left: 100px; ">
      <h5>Contact Us</h5> <br>
      <a>Location: Kigali/ Nyarugenge </a> <br>
      <a>Email: edg-rw@gmail.com</a> <br>
      <a>Phone: (+250)780000055</a> <br><br><br>
  
         <div class="container" style=" padding: 0px;">
        <form action="" method="post">
          <label for="fname"> <b> Names </b> </label> 
          <input type="text" name="names" placeholder="Your Name.." required> <br><br>
      
          <label for="lname"> <b> Phone </b> </label> &nbsp;
          <input type="text" id="phone" name="phone" placeholder="Your phone.." required> <br><br>
  
          <label for="lname"> <b> Email </b> </label> &nbsp;&nbsp;
          <input type="text" id="email" name="email" placeholder="Your Email.."> <br><br>
  
      
          <label for="country"> <b> Indege Location </b> </label>
          <select id="country" name="country">
            <option value="australia">KIMISAGARA</option>
            <option value="usa">BIRYOGO</option>
            <option value="usa">NYABUGOGO</option>
            <option value="usa">MUHIMA</option>
            <option value="usa">GISOZI</option>
            
          </select> <br><br>
          
          <label for="subject"> <b> Message </b></label>
          <textarea cols="21" rows="6" placeholder="Write something.." style="height:100px"></textarea> <br><br>
      
          <center><input type="submit" class="btn btn-primary" value="Send"></center>
        </form>
      </div>
  
  
  </div>
  </div>
  
  <div class="subfooter">
      <p style="font-weight: bolder; font-size: 16px;">&copy; &nbsp;&nbsp;2022.&nbsp;&nbsp;&nbsp; Copyright by Albert&nbsp;|&nbsp;Emmanuel&nbsp;|&nbsp;Yvonne. &nbsp;&nbsp;| All rights reserved.</p>
  </div>
  
  </section>
  
  
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  
    <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  
   </body>
  </html>
