{% extends 'header.html' %}
  <center>
  <div style="border:2px #0000000 solid; margin-top:200px; width:500px; height:450px; padding:30px; box-shadow:2px 5px 2px 5px;
  border-radius:5px 5px 5px 5px;">
    <form method="post" action="/createaccount">
      {% csrf_token %}
      <p><label for="fname">Firstname:</label> <input type="text" name="fname" placeholder="Your Firstname" required></p>
      <p><label for="lname">Lastname:</label> <input type="text" name="lname" placeholder="Your Lastname" required></p>

      <p><label for="user">Username:</label> <input type="text" name="username" placeholder="Your Lastname" required></p>
      <p><label for="email">Email:</label> <input type="email" name="email" placeholder="Your Email"></p>

      <p><label for="phone">Phone:</label> <input type="text" name="phone" placeholder="Your Phone" required></p>

      <p><label for="pass">Password:</label> <input type="password" name="pass1" placeholder="Password" required></p>
      <p><label for="confirm">Confirm Password:</label> <input type="password" name="pass2" placeholder="Retype password" required></p>
      <p><input type="submit" value="Create" style="margin:;"></p>


  </form>
  </div>
</center>

<br><br><br>

    </body>
</html>

{% include 'footer.html' %}