{% load static %}

<div class="footer" style="margin-top: 0px; height: 400px; ">
   <div id="for-logo" style="border:2px red; width:150px; height:90px; margin-top:100px; margin-left:-100px;">
       <img src="{% static 'logaa.png' %}" width="150px" height="90px">

   </div>
<div id="div-inside">
    <h5>Quick links</h5> <br>
    <a href="#">Sign in</a> <br>
    <a href="#">Register</a> <br>
    <a href="#">Available workers</a> <br>
    <a href="#">About us</a> <br>
    <a href="#">Register</a> <br>

</div>
<div id="div-inside">
    <h5>Services</h5>
</div>
<div id="div-inside">
    <h5>Social Media</h5> <br>
    <a href="#">Twitter</a> <br>
    <a href="#">Facebook</a> <br>
    <a href="#">Instagram</a> <br>
    <a href="#"></a> <br>
</div>

<div id="div-inside">
    <h5>Contact Us</h5> <br>
    <a>Location: Kigali/ Nyarugenge </a> <br>
    <a>Email: edg-help@gmail.com</a> <br>
    <a>Phone: +250780000055</a> <br>
    
</div>
</div>

<div class="subfooter">
    <p style="font-weight: bolder; font-size: 16px;">&copy;&nbsp;&nbsp;2022.&nbsp;&nbsp;&nbsp; Copyright by Albert&nbsp;|&nbsp;Emmanuel&nbsp;|&nbsp;Yvonne. &nbsp;&nbsp;| All rights reserved.</p>

</div>

 </body>
</html>