{% load static %}

<section id="contact-us">
<div class="footer" style="margin-top: 0px; height: 600px; ">
   <div id="for-logo" style="border:2px red; width:150px; height:90px; margin-top:100px; margin-left:0px;">
       <img src="{% static 'logaa.png' %}" width="150px" height="90px">

   </div>

<div id="div-inside">
    <h5>Quick links</h5> <br>
    <a href="#">Sign in</a> <br>
    <a href="#">Register</a> <br>
    <a href="#">Available workers</a> <br>
    <a href="#">About us</a> <br>
    <a href="#">Register</a> <br>

</div>

{% comment %} <div id="div-inside">
    <h5>Services</h5>
</div> {% endcomment %}
<div id="div-inside">
    <h5>Social Media</h5> <br>
    <a href="https://www.twitter.com/Idg-Rwanda" target="_blank">Twitter</a> <br>
    <a href="https://www.facebook.com/IdgRwanda" target="_blank">Facebook</a> <br>
    <a href="https://www.instagram.com/Idg-Rwanda" target="_blank">Instagram</a> <br>
    <a href="#"></a> <br>
</div>

<div id="div-inside" style=" border: 1px red; margin-left: 100px; ">
    <h5>Contact Us</h5> <br>
    <a>Location: Kigali/ Nyarugenge </a> <br>
    <a>Email: idg-rw@gmail.com</a> <br>
    <a>Phone: (+250)780000055</a> <br><br><br>

       <div class="container" style=" padding: 0px;">
      <form action="" method="post">
        
        {% csrf_token %}
        
        <label for="fname"> <b> Names </b> </label> 
        <input type="text" name="names" placeholder="Your Name.." pattern="[A-Za-z ]+" required> <br><br>
    
        <label for="phone"> <b> Phone </b> </label> &nbsp;
        <input type="text" id="phone" name="phone" maxlength="9" pattern="[0-9]{9}" placeholder="Phone(+250).."  required> <br><br>

        <label for="email"> <b> Email </b> </label> &nbsp;&nbsp;
        <input type="email" id="email" name="email" placeholder="Your Email.."> <br><br>

    
        <label for="country"> <b> Indege Location </b> </label>
        <select id="country" name="location" required>
            <option value="">Choose Location </option>
            <option value="KIMISAGARA">KIMISAGARA</option>
            <option value="BIRYOGO">BIRYOGO</option>
            <option value="NYABUGOGO">NYABUGOGO</option>
            <option value="GISOZI">GISOZI</option>
            <option value="KINYINYA">KINYINYA</option>>
          
        </select> <br><br>
        
        <label for="subject"> <b> Message </b></label>
        <textarea required cols="21" rows="6" name="message" placeholder="Write something.." style="height:100px;" > </textarea> <br><br>
    
        <center><input type="submit" class="btn btn-primary" value="Send"></center>
      </form>
    </div>


</div>
</div>

<div class="subfooter">
    <p style="font-weight: bolder; font-size: 16px;">&copy; &nbsp;&nbsp;2022.&nbsp;&nbsp;&nbsp; Copyright by Albert&nbsp;|&nbsp;Emmanuel&nbsp;|&nbsp;Yvonne. &nbsp;&nbsp;| All rights reserved.</p>
</div>

</section>

 </body>
</html>