{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="photodiv" style=" border:2px #000; margin-top:0px; width:100%; height:600px; padding:0px;
background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url('{% static 'jobseek.jpg' %}'); display: table;

  background-position: center top; background-repeat: no-repeat; background-size: 100% 100%;
  color: white;">

<!--        <img src="{% static 'jobseek.jpg' %}" width="100%" height="600px">-->

    </div>
{% endblock %}

