<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Register . IDg System</title>
    <link rel = "icon" href="{% static 'logaa.png' %}"  type = "image/x-icon">

  <style>

  </style>

    
        

    <link rel="stylesheet" type="text/css" href=" {% static 'css/styles.css' %}">
    <script src="https://kit.fontawesome.com/8a897e3da4.js" crossorigin="anonymous"></script>
    
  </head>
  <body>
    
  <!-- links -->
  <div class="container" style="border:; width:100%; height:90px; background-color: white; padding:7px; ">
    <div>
    <a class="navbar-brand" href="/index" style="font-size:35px; ">
      <img src="{% static 'logaa.png' %}" width="150px" height="80px">
    </a>
  </div>
<h3 style="color:#000; font-size:25px;text-align:center; margin-top:-50px; font-weight: bold;"> DAILY LABORERS SYSTEM</h3>
  </div>

  <!-- Nav links-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary"  >
  <div class="container-fluid" style="height:80px;">

    
    <div style="margin-left:80px;" >
      <p style="color: white; font-weight:; font-family: Comic Sans MS;">
        A Web Platform<br> for casual workers.<br> We link you with a dedicated employer.
      </p>
    </div>

    <div class=" nav-container collapse navbar-collapse" style="margin-left:300px;">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/index">Home</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active " href="/registeras" role="button" aria-haspopup="true" aria-expanded="false">Register</a>
            </li>

        <li class="nav-item">
          <a class="nav-link" href="/Availableworkers">Available Workers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/About"> About Us </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact-us">Help! </a>
        </li>
      </ul>



        <a class="nav-link" href="#" style="display:flex;  margin-top: -20px;  margin-left: -20px;>
          <div class="user" style=" ">
            <i class="fas fa-thin fa-user" style="font-size: 30px; color:lightyellow; margin-top:20px;"></i>

          <ul class="navbar-nav me-auto">  <li class="nav-item dropdown">
          <a href="/signinas" class="nav-link dropdown-toggle"   role="button" aria-haspopup="true" aria-expanded="false">Sign in</a>
         
        </li> </ul>

          </div>
        </a>

    </div>
  </div>
</nav>

<center>
    
    <div class="container" style="border: 2px red;  height: 650px;"> <br>

        <h2 style="text-align: center;">Register as a jobseeker</h2> 
        <hr> <br>

        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong> {{ message }} </strong> 
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

      {% endfor %}    
        
        <form action="" method="post">
          {% csrf_token %}

        <div style=" position: absolute; border: 2px red; width: 400px; height: 480px; text-align: left; margin-left: 200px;">
       
      
        <label for="cardid"><b>Card Id </b> </label><font color="red">*</font> <br>
        <input type="text" id="id" name="cardid" placeholder=" Enter Card Id.." pattern="[0-9]+" required> <br><br>

        <label for="fname"> <b> First Name </b> </label> <font color="red">*</font> <br>
        <input type="text" id="fname" name="firstname" placeholder=" Enter Firstname.." pattern="[A-Za-z]+" maxlength="50" required> <br><br>
    
        <label for="lname"> <b> Last Name </b> </label> <font color="red">*</font> <br>
        <input type="text" id="lname" name="lastname" placeholder=" Enter Lastname.." pattern="[A-Za-z]+" maxlength="50" required> <br><br>

        <label for="Phone"> <b> Phone </b> </label> <font color="red">*</font> <br>
        <input type="text" id="phone" name="phone" placeholder="Phone(+250).." maxlength="9" pattern="[0-9]{9}" required> <br><br>

        <label for="Email"> <b> Email </b> </label> <br>
        <input type="email" name="email" placeholder=" Enter Email.."> <br><br>

        <label for="password"> <b> Password </b> </label> <font color="red">*</font><br>
        <input type="password" id="" name="password" placeholder=" Enter Password.." maxlength="50"> <br><br>
        </div>

            <div style=" position: absolute; border-left: 2px red; width: 500px; height: 400px; text-align: left; margin-left: 650px;">
            
        <label for="Gender"> <b> Gender </b> </label> <font color="red">*</font> <br>
        Male &nbsp; <input type="radio"name="sex" value="Male"> &nbsp;&nbsp;
        Female &nbsp; <input type="radio" name="sex" value="Female"> <br><br>

        <label for="text"> <b>Date Of Birth</b> </label> <font color="red">*</font> <br>
        <input type="date" class="data" placeholder=" Enter Your Date Of Birth" name="birthdate" id="day" required> <br><br>

    
        <label for="Location"> <b> Indege location </b>  </label> <font color="red">*</font> <br>
        <select id="Location" name="location">
          <option value="">Choose Location </option>
          <option value="KIMISAGARA">KIMISAGARA</option>
          <option value="BIRYOGO">BIRYOGO</option>
          <option value="NYABUGOGO">NYABUGOGO</option>
          <option value="GISOZI">GISOZI</option>
          <option value="KINYINYA">KINYINYA</option>
        </select>  <br><br>

        <label for="worktype"> <b> Work type </b> </label> <font color="red">*</font> <br>
        <select id="JOBTYPE" name="jobtype">
          <option> Choose work type</option>
          <option value="UMUFUNDI">UMUFUNDI</option>
          <option value="UMUYEDE">UMUYEDE</option>
          <option value="UMUKARANI">UMUKARANI </option>
          <option value="KUMESA IMYAMBARO">KUMESA IMYAMBARO</option>
          <option value="KUVOMA">KUVOMA</option>
        </select> <br><br>

        <label for="others"> <b> Other work </b> </b> </label> <br>
        <input type="text" name="others" placeholder="Type it here.."> <br><br>
        
                      

    </div> <br> <br><br>

    <div class="container" style=" position:absolute; width: 100%; height: 100px; margin-top: 340px;"> <br><br>
    <hr>
    <input type="submit" class="btn btn-primary" value="Register">
 </div>
    
</form>         
</div>
  
</center>   <br><br> <br><br>


<section id="contact-us">
  <div class="footer" style="margin-top: 0px; height: 600px; ">
     <div id="for-logo" style="border:2px red; width:150px; height:90px; margin-top:100px; margin-left:0px;">
         <img src="{% static 'logaa.png' %}" width="150px" height="90px">
  
     </div>
  
  <div id="div-inside">
      <h5>Quick links</h5> <br>
      <a href="#">Sign in</a> <br>
      <a href="#">Register</a> <br>
      <a href="#">Available workers</a> <br>
      <a href="#">About us</a> <br>
      <a href="#">Register</a> <br>
  </div>
  
 
  <div id="div-inside">
      <h5>Social Media</h5> <br>
      <a href="https://www.twitter.com/Idg-Rwanda" target="_blank">Twitter</a> <br>
      <a href="https://www.facebook.com/IdgRwanda" target="_blank">Facebook</a> <br>
      <a href="https://www.instagram.com/Idg-Rwanda" target="_blank">Instagram</a> <br>
      <a href="#"></a> <br>
  </div>
  
  <div id="div-inside" style=" border: 1px red; margin-left: 100px; ">
      <h5>Contact Us</h5> <br>
      <a>Location: Kigali/ Nyarugenge </a> <br>
      <a>Email: edg-rw@gmail.com</a> <br>
      <a>Phone: (+250)780000055</a> <br><br><br>
  
         <div class="container" style=" padding: 0px;">
        <form action="" method="post">
          <label for="fname"> <b> Names </b> </label> 
          <input type="text" name="names" placeholder="Your Name.." required> <br><br>
      
          <label for="lname"> <b> Phone </b> </label> &nbsp;
          <input type="text" id="phone" name="phone" placeholder="Your phone.." required> <br><br>
  
          <label for="lname"> <b> Email </b> </label> &nbsp;&nbsp;
          <input type="text" id="email" name="email" placeholder="Your Email.."> <br><br>
  
      
          <label for="country"> <b> Indege Location </b> </label>
          <select id="country" name="country">
            <option value="australia">KIMISAGARA</option>
            <option value="usa">BIRYOGO</option>
            <option value="usa">NYABUGOGO</option>
            <option value="usa">MUHIMA</option>
            <option value="usa">GISOZI</option>
            
          </select> <br><br>
          
          <label for="subject"> <b> Message </b></label>
          <textarea cols="21" rows="6" placeholder="Write something.." style="height:100px"></textarea> <br><br>
      
          <center><input type="submit" class="btn btn-primary" value="Send"></center>
        </form>
      </div>
  
  
  </div>
  </div>
  
  <div class="subfooter">
      <p style="font-weight: bolder; font-size: 16px;">&copy; &nbsp;&nbsp;2022.&nbsp;&nbsp;&nbsp; Copyright by Albert&nbsp;|&nbsp;Emmanuel&nbsp;|&nbsp;Yvonne. &nbsp;&nbsp;| All rights reserved.</p>
  </div>
  
  </section>
  
  
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  
    <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  
   </body>
  </html>

