{% extends 'base.html' %}
{% block content %}
 <center>
    <div class="" style="border:2px #0000000 solid; margin-top:20px; border-radius:5px 5px 5px 5px;">
        <br><br>
       <h3 class="">Register As</h3> <br><br>
       
       <a href="/jobseeker register"> <button class="btn btn-primary" style="width: 200px; height:60px;">Jobseeker</button> </a>
       <a href="/employer register"> <button class="btn btn-primary" style="width: 200px; height:60px;">Employer</button> </a>
    
     <br><br><br><br><br><br>
  </center> 
{% endblock %} 
<br><br><br>
